:root {
  --bg-color: #1c1c1c;
  --text-color: #f5f5f5;
  --main-color: #f5f5f5;
  --second-color: #708090;
  --big-font: 4.5rem;
  --h2-font: 3.2rem;
  --p-font: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  gap: 20px;
  padding: 50px 120px;
  border-radius: 10px;
  border: 2px solid var(--second-color);
  margin-bottom: 15px;
  margin-left: 220px;
}
.contact_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact_text h3 {
  font-size: var(--h2-font);
}
.contact_text p {
  font-size: var(--p-font);
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.contact form input {
  width: 80%;
  padding: 15px;
  background: var(--bg-color);
  border: 2px solid var(--second-color);
  border-radius: 10px;
  color: var(--text-color);
}
.contact form input[type="submit"] {
  cursor: pointer;
  width: 50%;
}
.form input[type="submit"]:hover {
  transform: scale(1.2);
}

@media (max-width: 1200px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 0.3s;
  }
  .contact {
    margin-left: 105px;
  }
}
.about_text {
  text-align: justify;
}
.about_text h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.about_text p {
  font-size: var(--p-font);
  line-height: 25px;
  margin-bottom: 20px;
}
.btn {
  display: flex;
  color: var(--text-color);
  font-size: var(--p-font);
  padding: 10px 35px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: ease 0.5s;
  text-decoration: none;
  width: 40%;
}
/* Media query para telas de celular */
@media screen and (max-width: 600px) {
  :root {
    --big-font: 1rem;
    --med-font: 0.8rem;
    --p-font: 0.5rem;
  }

  .contact {
    width: 100%;
    gap: 20px;
    padding: 25px 60px;
    border-radius: 10px;
    border: 2px solid var(--second-color);
  }
  .contact_text {
    gap: 20px;
  }
  .contact_text h3 {
    font-size: var(--h2-font);
  }
  .contact_text p {
    font-size: var(--p-font);
  }
}
